@model CSharpMVCDateTimeConversionFramework.Models.UiDateTimeRangeTestModel

<hgroup class="title">
    <h1>Ui Date Time Range Test</h1><br />
    <h2>Use this form to test the UiDateTimeRangeModel</h2>
    <h3>@Html.ActionLink("Back to UiDateTimeRangeModel Test Form", "UiDateTimeRangeTest", "UiDateTime")</h3>
</hgroup>

<ul>
    <li>
        <label>First Name: </label>
        @Html.LabelFor(m => m.FirstName)
    </li>
    <li>
        <label>Last Name:</label>
        @Html.LabelFor(m => m.LastName)
    </li>
    <li>
        <label>Phone:</label>
        @Html.LabelFor(m => m.Phone)
    </li>
    <li>
        <label>Email:</label>
        @Html.LabelFor(m => m.Email)
    </li>
    <li>
        <label>UiDateTimeRange Start Date: </label>
        @Model.UiDateTimeRange.StartDateTime.LocalDate
    </li>
    <li>
        <label>UiDateTimeRange Start Time: </label>
        @Model.UiDateTimeRange.StartDateTime.LocalTime
    </li>
    <li>
        <label>UiDateTimeRange End Time: </label>
        @Model.UiDateTimeRange.EndDateTime.LocalTime
    </li>
    <li>
        <label>UiDateTimeRange StartDateTime Local TimeZone: </label>
        @Model.UiDateTimeRange.StartDateTime.TimeZoneName
    </li>
    <li>
        <label>UiDateTimeRange EndDateTime Local TimeZone: </label>
        @Model.UiDateTimeRange.EndDateTime.TimeZoneName    
    </li>
</ul>

