<hgroup class="title">
    <h1>UiDateTimeModel: </h1>
    <h3>One of the most important aspects of the UiDateTimeModel is that the default constructor requires a TimeZone. Without it the code will not compile.</h3>
    <h3>Looking at the RegisterModel below with a RegistrationDate property of type UiDateTimeModel. The constructor takes a string of "Eastern Standard Time" for the TimeZone.</h3>
    <ol>
        <li>@Html.ActionLink("UiDateTimeModel Test Form", "UiDateTimeTest", "UiDateTime")</li>
        <li>@Html.ActionLink("UiDateTimeRangeModel Test Form", "UiDateTimeRangeTest", "UiDateTime")</li>
    </ol>
    <pre class='brush: csharp'>
        //UiDateTimeController
        public ActionResult Register() 
        {
            var model = new UiDateTimeTestModel 
                                    {
                                        UserName = "myUserName",
                                        Email = "myEmail@email.com",
                                        Password = "MyP@ssw0rd",
                                        UiDateTime = new UiDateTimeModel("Eastern Standard Time") {
                                                                                        DateTimeUtcValue = DateTime.SpecifyKind(DateTime.Parse("11/01/2010" + " " + "04:31"), DateTimeKind.Utc)
                                                                                    }
                                    };    
            return View(model);
            //return View();
        }                                                   
    </pre>
</hgroup>

<pre class='brush: csharp'>
using System.ComponentModel.DataAnnotations;
using System.Web.Mvc;

namespace CustomModelBindingWithDateTime.Models 
{
    public class UiDateTimeTestModel 
    {
@*        [Required]
        [Display(Name = "Name")]
        public string Name { get; set; }

        [Required]
        [Display(Name = "Message")]
        public string Message { get; set; }*@

        public UiDateTimeModel UiDateTime { get; set; }
    }
}


</pre>

<pre class='brush: csharp'>
@model CustomModelBindingWithDateTime.Models.UiDateTimeTestModel

<hgroup class="title">
    <h1>Ui Date Time Test</h1>
    <h2>Use this form to test the UiDateTimeModel</h2>
</hgroup>

@using (Html.BeginForm((string)ViewBag.FormAction, "UiDateTime")) {
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <fieldset>
        <legend>Registration Form</legend>
        <ul>
@*            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.Message)
                @Html.TextBoxFor(m => m.Message)
                @Html.ValidationMessageFor(m => m.Message)
            </li>*@
            <li>
                @Html.LabelFor(m => m.UiDateTime)
                @Html.TextBoxFor(m => m.UiDateTime.LocalDate, new { @class = "datepicker" })
                @Html.ValidationMessageFor(m => m.UiDateTime.LocalDate)
            </li>
            <li>
                <label>Registration Start Time</label>
                @Html.TextBoxFor(m => m.UiDateTime.LocalTime, new { @class = "timepicker" })
                @Html.ValidationMessageFor(m => m.UiDateTime.LocalTime)
            </li>
            @Html.HiddenFor(m => m.UiDateTime.TimeZoneName)
        </ul>
        <input type="submit" value="Submit" />
    </fieldset>
}
</pre>

<script type="text/javascript">    SyntaxHighlighter.all();</script> 
