@using CustomModelBindingWithDateTime.Helpers
@model CustomModelBindingWithDateTime.Models.UiDateTimeModel

<li>
    @Html.MyLabelFor(m => m.LocalDate, new { @class = "top" })
    @Html.UiDateBoxFor(m => m.LocalDate, new { @class = "datepicker" })
</li>
<li>
    @Html.MyLabelFor(m => m.LocalTime, new{@class="top"})
    @Html.UiTimeBoxFor(m => m.LocalTime, new { @class = "timepicker" })
</li>
@Html.HiddenFor(model => model.TimeZoneName)



